body {
  display: flex;
  justify-content: center;
  background-image: url(../../images/great-hall.0.0.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

#form {
  margin-top: 350px;
}
